extends layout
block content
    .container-fluid#bg
        .display-wrapper
            .row
                .col-lg-8
                    .head-wrapper
                        .container  
                            .row
                                .col-lg-12
                                    if(error_msg != '')
                                        .alert.alert-danger.alert-dismissible.fade.show(role='alert') #{error_msg}
                                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                                                span(aria-hidden='true') ×
                                    h1
                                        strong #{blog.title}
                            .row
                                .col-lg-12
                                    span #{blog.created.toDateString()} /
                                        strong  #{blog.author} 
                                        
                            hr
                    //- picture for each blog post
                    .hero-wrapper
                        .container
                            img(src=`/images/${blog.image}`, alt="").img-fluid
                            h5 
                                stong #{blog.subtitle}
                    //- Article body
                    .article-wrapper
                        .container
                            p #{blog.content}
                            if (user != undefined )
                                if user.email == auth
                                    a(href="/display/"+`${blog.id}` +'/edit'): button.btn.btn-outline-success(type="submit", style='margin-right: 2%;') Edit Post
                                    a(href="/display/"+`${blog.id}` +'/delete'): button.btn.btn-outline-danger(type='submit', style='display: ;') Delete
                            hr
                    //- comments
                    .comment-wrapper
                        .container
                                form(action=`/comment/${blog.id}/new`,method="post")
                                    .form-group
                                        label(for='exampleFormControlTextarea1')
                                            strong 
                                                h5 Add Comment
                                        textarea(name="comment", cols="3", rows="4")#exampleFormControlTextarea1.form-control
                                    button.btn.btn-outline-primary(type='submit') Submit

                                h5 Comments Below:
                                if comment != null
                                    each comments in comment
                                        .comments
                                            .row
                                                .col-lg-12
                                                    span 
                                                        strong #{comments.author}
                                                        | #{comments.created.toDateString()}
                                                .col-lg-12
                                                    p #{comments.description}
                                                    if (user != undefined )
                                                        if user.email == auth
                                                            a(href=`/comment/${blog.id}/delete`): button.btn.btn-outline-danger(type='submit', style='display: ;') Delete
                //- right side of the blog
                .col-lg-4
                    .right-wrapper
                        .container 
                            h5 
                                strong Stay conected
                            hr
                            .container
                                .row.no-gutters
                                    
                                        .col-sm-6
                                            .row
                                                .col-sm-3#twitter-logo
                                                    a(href="#"): i.fab.fa-twitter
                                                .col-sm-9#twitter-word
                                                    a(href="#") Twitter
                                        .col-sm-6
                                            .row
                                                .col-sm-3#fb-logo
                                                    a(href="#"): i.fab.fa-facebook-f
                                                .col-sm-9#fb-word
                                                    a(href="#") Facebook
                                .row.no-gutters
                                        .col-sm-6
                                            .row
                                                .col-sm-3#insta-logo
                                                    a(href="#"): i.fab.fa-instagram
                                                .col-sm-9#insta-word
                                                    a(href="#") Instagram
                                        .col-sm-6
                                            .row
                                                .col-sm-3#pin-logo
                                                    a(href="#"): i.fab.fa-pinterest
                                                .col-sm-9#pin-word
                                                    a(href="#") Pinterest
                        .latest-post
                            .container
                                h5 
                                    | Latest Post
                                hr
                                if post != undefined
                                    for posts, index in post
                                        if(index === 4)
                                            - break;
                                        else
                                            .row.post
                                                .col-sm-6
                                                    .post-img
                                                        img(src=`${posts.image}`, alt="")
                                                .col-sm-6
                                                    p #{posts.title}  
                                